/*Color for the headings at the top*/
.headings {
    background-color:rgb(255,0,0);
    width: 600px;
    height: 35px;
    margin: 25px 25px 25px 25px;
    padding: 50px 50px 50px 50px;
    border-style:solid;
    border-color:black;
    border-width: 20px;
    border-radius: 1cm;
    text-decoration:underline;
    text-align:center;
    position:static;
}

/*Selector list */
h1, h2, h3 {
    font-family: sans-serif;
}

/*multiple selectors*/
#header1.headings {
    background-color: brown;
}

/*Color and positioning for the attendence heading*/
#Attendance {
    color: white;
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    position: relative;
}

/*Color and positioning for all paragraphs*/
p {
    background-color: #ffff00;
    max-width: 6.25in;
    max-height: 5cm;
    margin-top: 2ex;
    margin-bottom: 2ex;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    display: block;
    position: relative;
}

/*All the color and positioning for a*/
a:hover {
    background-color:blue;
}

a:active {
    background-color:yellowgreen;
}

a[href^="https"] {
    background-color:gold;
}
/*Universal selector*/
* {
    position: relative;
}

/*child combinator*/
ul > li {
    border-left: 3px solid blue; 
}

/*flexbox*/
.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    flex-flow:column;
}

/*grid*/
.contains {
    display:grid;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
    grid-auto-flow: dense;
}

/*descendant combinator*/
ol li {
    list-style-type:lower-greek;
}

/*Adjacent combinator*/
li:first-child + li {
    color: green;
}

li ~ li {
    background-color: greenyellow;
}

/*Responsiveness*/
@media (min-width: 700px) {
    p {
        font-size: 1rem;
    }
}



